body {
    max-width: 100%;
}

.InfoTableReact-rowSelected {
    background: #ebf5ff !important;
}
.InfoTableReact-container {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
.InfoTableReact {
    margin-bottom: 0;
    border-spacing: 0;
    background-color: transparent;
    max-width: 100%;
}
.InfoTableReact thead {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding-top: 5px;
    min-height: 48px;
}
.InfoTableReact thead tr th {
    color: #6c6c6c;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    padding: 5px;
}
.InfoTableReact thead tr th[data-sort="true"]:hover {
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.InfoTableReact thead th::after {
    margin-left: 2px;
    font-family: FontAwesome;
    content: "\f0d8 \f0d7";
    color: #212121;
    opacity: 0;
}
.InfoTableReact thead th[data-sort-column=""][data-sort="true"]:hover::after {
    opacity: 1;
    transition: opacity 0.3s;
}
.InfoTableReact tbody {
    overflow: auto;
    border-bottom: 1px solid #ddd;
}
.InfoTableReact tbody td {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    padding: 5px;
    text-align: left;
}
.InfoTableReact tbody tr {
    border-bottom: 1px solid #ddd;
    display: block;
    min-height: 30px;
}
.InfoTableReact tbody tr:hover {
    cursor: pointer;
}
.InfoTableReact tbody tr td {
    border-top: none;
}
.InfoTableReact tfoot {
    display: block;
    height: 64px;
}
.InfoTableReact tfoot .pagination {
    margin: 10px 0;
}
.InfoTableReact tfoot tr td {
    border-top: none;
}
.InfoTableReact thead th,
.InfoTableReact tbody td {
    word-wrap: break-word;
}
.InfoTableReact-fixed {
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    width: 100%;
}
.InfoTableReact-fixed tbody {
    overflow: auto;
}
.InfoTableReact-fixed thead,
.InfoTableReact-fixed tbody {
    display: block;
}
.InfoTableReact-ellipsis {
    overflow: hidden;
    word-break: normal;
    text-overflow: ellipsis;
}


.InfotableReact-wrapper {
    position: relative;
}

.InfotableReact-scroll {
    margin-left: 120px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
}