html, body{
    height: 100%;
}
/* Table styles */
.rowSelected {
    background: #EBF5FF !important;
}
/* #3c3c3c; */
.InfoTable-container {
    height: 100%;
    width:100%;
    left:0;
    right:0;
    box-sizing: border-box;
}

.InfoTable {
    margin-bottom: 0;
    border-spacing: 0;
    background-color: transparent;
    max-width: 100%;
}

.InfoTable > thead {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: white;
}

.InfoTable thead tr th {
    color: #6c6c6c;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    
}

.InfoTable thead th::after {
    margin-left: 2px;
    font-family: FontAwesome;
    content: "\f0d8 \f0d7";
    color: #212121;
    opacity: 0;
}

.InfoTable thead th[data-sort-column=""][data-sort="true"]:hover::after {
    opacity: 1;
    transition: opacity .3s;
}

.InfoTable thead tr th[data-sort="true"]:hover {
    cursor: pointer;
    transition: all .5s ease-in;
}

.InfoTable td {
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    /* min-height: 36px; */
}

.InfoTable td {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
}

.InfoTable tbody {
    overflow: auto;
    border-bottom: 1px solid #ddd;
}

.InfoTable tbody tr {
    border-bottom: 1px solid #ddd;
}

.InfoTable tbody tr:hover{
    cursor: pointer;
}

.InfoTable tbody tr td{
    border-top: none;
}

.InfoTable tfoot{
    display: block;
    height: 64px;
}

.InfoTable tfoot .pagination {
    margin: 10px 0;
}

.InfoTable tfoot tr td{
    border-top: none;
}

.InfoTable th,
.InfoTable td {
    word-wrap:break-word;
}

.InfoTable-fixed {
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    width: 100%;
}
.InfoTable-fixed thead,
.InfoTable-fixed tbody {
    display: block;
}

.InfoTable-fixed tbody {
    overflow: auto;
}

.InfoTable-ellipsis {
    overflow: hidden;
    overflow: hidden;
    word-break: normal;
    text-overflow: ellipsis;
}